<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>AcunMedya Akademi Festival Projesi</title>

    <!-- CSS FILES -->
    <link rel="preconnect" href="https://fonts.googleapis.com">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;400;700&display=swap" rel="stylesheet">

    <link href="~/Templates/FestavaLive-1.0.0/FestavaLive-1.0.0/css/bootstrap.min.css" rel="stylesheet">

    <link href="~/Templates/FestavaLive-1.0.0/FestavaLive-1.0.0/css/bootstrap-icons.css" rel="stylesheet">

    <link href="~/Templates/FestavaLive-1.0.0/FestavaLive-1.0.0/css/templatemo-festava-live.css" rel="stylesheet">

    <!--

    TemplateMo 583 Festava Live

    https://templatemo.com/tm-583-festava-live

    -->
</head>