<section class="schedule-section section-padding" id="section_4">
    <div class="container">
        <div class="row">

            <div class="col-12 text-center">
                <h2 class="text-white mb-4">
                    Event Schedule</h2>

                    <div class="table-responsive">
                        <table class="schedule-table table table-dark">
                            <thead>
                                <tr>
                                    <th scope="col">Date</th>

                                    <th scope="col">Wednesday</th>

                                    <th scope="col">Thursday</th>

                                    <th scope="col">Friday</th>

                                </tr>
                            </thead>

                            <tbody>
                                <tr>
                                    <th scope="row">Day 1</th>

                                    <td class="table-background-image-wrap pop-background-image">
                                        <h3>Pop Night</h3>

                                        <p class="mb-2">5:00 - 7:00 PM</p>

                                        <p>By Adele</p>

                                        <div class="section-overlay"></div>
                                    </td>

                                    <td style="background-color: #F3DCD4"></td>

                                    <td class="table-background-image-wrap rock-background-image">
                                        <h3>Rock & Roll</h3>

                                        <p class="mb-2">7:00 - 11:00 PM</p>

                                        <p>By Rihana</p>

                                        <div class="section-overlay"></div>
                                    </td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 2</th>

                                    <td style="background-color: #ECC9C7"></td>

                                    <td>
                                        <h3>DJ Night</h3>

                                        <p class="mb-2">6:30 - 9:30 PM</p>

                                        <p>By Rihana</p>
                                    </td>

                                    <td style="background-color: #D9E3DA"></td>
                                </tr>

                                <tr>
                                    <th scope="row">Day 3</th>

                                    <td class="table-background-image-wrap country-background-image">
                                        <h3>Country Music</h3>

                                        <p class="mb-2">4:30 - 7:30 PM</p>

                                        <p>By Rihana</p>

                                        <div class="section-overlay"></div>
                                    </td>

                                    <td style="background-color: #D1CFC0"></td>

                                    <td>
                                        <h3>Free Styles</h3>

                                        <p class="mb-2">6:00 - 10:00 PM</p>

                                        <p>By Members</p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
            </div>
        </div>
    </div>
</section>
