<section class="artists-section section-padding" id="section_3">
    <div class="container">
        <div class="row justify-content-center">

            <div class="col-12 text-center">
                <h1 class="mb-4">Meet Artists</h1>
            </div>

            <div class="col-lg-5 col-12">
                <div class="artists-thumb">
                    <div class="artists-image-wrap">
                        <img src="~/Templates/FestavaLive-1.0.0/FestavaLive-1.0.0/images/artists/joecalih-UmTZqmMvQcw-unsplash.jpg"
                             class="artists-image img-fluid">
                    </div>

                    <div class="artists-hover">
                        <p>
                            <strong>Name:</strong>
                            Madona
                        </p>

                        <p>
                            <strong>Birthdate:</strong>
                            August 16, 1958
                        </p>

                        <p>
                            <strong>Music:</strong>
                            Pop, R&amp;B
                        </p>

                        <hr>

                        <p class="mb-0">
                            <strong>Youtube Channel:</strong>
                            <a href="#">Madona Official</a>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-12">
                <div class="artists-thumb">
                    <div class="artists-image-wrap">
                        <img src="images/artists/abstral-official-bdlMO9z5yco-unsplash.jpg"
                             class="artists-image img-fluid">
                    </div>

                    <div class="artists-hover">
                        <p>
                            <strong>Name:</strong>
                            Rihana
                        </p>

                        <p>
                            <strong>Birthdate:</strong>
                            Feb 20, 1988
                        </p>

                        <p>
                            <strong>Music:</strong>
                            Country
                        </p>

                        <hr>

                        <p class="mb-0">
                            <strong>Youtube Channel:</strong>
                            <a href="#">Rihana Official</a>
                        </p>
                    </div>
                </div>

                <div class="artists-thumb">
                    <img src="images/artists/soundtrap-rAT6FJ6wltE-unsplash.jpg"
                         class="artists-image img-fluid">

                    <div class="artists-hover">
                        <p>
                            <strong>Name:</strong>
                            Bruno Bros
                        </p>

                        <p>
                            <strong>Birthdate:</strong>
                            October 8, 1985
                        </p>

                        <p>
                            <strong>Music:</strong>
                            Pop
                        </p>

                        <hr>

                        <p class="mb-0">
                            <strong>Youtube Channel:</strong>
                            <a href="#">Bruno Official</a>
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
